#intro_motivation table:first-of-type  th, td
{
  text-align: center;
}

#intro_motivation table:first-of-type  th:nth-child(odd)
{
  background-color: rgba(255,255,255,0.05);
}

#intro_motivation table:first-of-type  td:nth-child(n+11),
#intro_motivation table:first-of-type  td:nth-child(-n+5)
{
  background-color: rgba(255,255,255,0.05);
}
