.poxy-theme-light {
	--table-odd-cells: rgba(0, 0, 0, 0.05);
}

.poxy-theme-dark {
	--table-odd-cells: rgba(255, 255, 255, 0.05);
}

#intro_motivation th,
#intro_motivation td {
	text-align: center;
}

#intro_motivation table:first-of-type th:nth-child(odd) {
	background-color: var(--table-odd-cells);
}

#intro_motivation_soa table:nth-of-type(2) tr > *:nth-child(2n) {
	background-color: var(--table-odd-cells);
}

#intro_motivation_typical table:first-of-type td:nth-child(n + 9),
#intro_motivation_typical table:first-of-type td:nth-child(-n + 4),
#intro_motivation_soa table:first-of-type td:nth-child(n + 9),
#intro_motivation_soa table:first-of-type td:nth-child(-n + 4) {
	background-color: var(--table-odd-cells);
}

article section:first-of-type h2 {
	margin-top: initial;
}

article section > table {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
}

.poxy-about-the-author {
	margin-top: 4rem;
}
.poxy-about-the-author .socials {
	display: block;
	padding-top: 0.5rem;
}
.poxy-about-the-author img.poxy-icon,
.poxy-about-the-author svg.poxy-icon {
	max-width: 1.5rem;
	max-height: 1.5rem;
	margin-right: 0.5rem;
}
